@model StokTakipCoreV3.Models.UserEditViewModel

<!--Profil Düzenleme Modal -->
@using (Html.BeginForm("ProfilDuzenle", "Profile", FormMethod.Post, new { @class = "form-inline needs-validation novalidate", role = "form" }))
{

    <div class="modal note-modal-header fade text-left modal-lg" id="profilduzenle" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel1">Profil Bilgilerini Düzenle</h5>
                    <button type="button" class="close rounded-pill" data-bs-dismiss="modal"
                        aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">

                    <!-- // Basic multiple Column Form section start -->
                    <section id="multiple-column-form">
                        <div class="row match-height">
                            <div class="col-12">
                                <div class="card">
                                    @*<div class="card-header">*@
                                    @*</div>*@
                                    <div class="card-content">
                                        <div class="card-body">
                                            <form class="form">
                                                <div class="row">
                                                    @Html.TextBoxFor(x => x.appUserEdit.Id, new { type = "hidden" })
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group">
                                                            @Html.Label("İsim")
                                                            <span class="item-display">
                                                                <input type="text" required asp-for="appUserEdit.Name" class="form-control">
                                                               
                                                                <span class="item-field">
                                                                    <input type="text" required asp-for="appUserEdit.Name" class="form-control">
                                                                     <div class="valid-feedback">
                                                                </div>
                                                                <div class="invalid-feedback">
                                                                    @Html.ValidationMessageFor(x => x.appUserEdit.Name, "", new { @class = "text-danger" })
                                                                </div>
                                                                </span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group">
                                                            @Html.Label("Soyisim")
                                                            <input type="text" required asp-for="appUserEdit.Surname" class="form-control">
                                                            <div class="valid-feedback">
                                                            </div>
                                                            <div class="invalid-feedback">
                                                                @Html.ValidationMessageFor(x => x.appUserEdit.Surname, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group">
                                                            @Html.Label("Kullanıcı Adı")
                                                            <input type="text" required asp-for="appUserEdit.UserName" class="form-control">
                                                            <div class="valid-feedback">
                                                            </div>
                                                            <div class="invalid-feedback">
                                                                @Html.ValidationMessageFor(x => x.appUserEdit.UserName, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group">
                                                            @Html.Label("Mail")
                                                            <input type="text" required asp-for="appUserEdit.Email" class="form-control">
                                                            <div class="valid-feedback">
                                                            </div>
                                                            <div class="invalid-feedback">
                                                                @Html.ValidationMessageFor(x => x.appUserEdit.Email, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group">
                                                            @Html.Label("Telefon No")
                                                            <input type="number" required asp-for="appUserEdit.PhoneNumber" class="form-control">
                                                            <div class="valid-feedback">
                                                            </div>
                                                            <div class="invalid-feedback">
                                                                @Html.ValidationMessageFor(x => x.appUserEdit.PhoneNumber, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group">
                                                            @Html.Label("şifre")
                                                            <input type="password" required asp-for="password" class="form-control">
                                                            <div class="valid-feedback">
                                                            </div>
                                                            <div class="invalid-feedback">
                                                                @Html.ValidationMessageFor(x => x.password, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group">
                                                            @Html.Label("şifretekrar")
                                                            <input type="password" required asp-for="confirmpassword" class="form-control">
                                                            <div class="valid-feedback">
                                                            </div>
                                                            <div class="invalid-feedback">
                                                                @Html.ValidationMessageFor(x => x.confirmpassword, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <div class="col-12 d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary me-1 mb-1">Kaydet</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}






<script type="text/javascript">
    $(function() {
        $('#select2').change(function() {
            var companyid = $("#select2").val();
            var checkBox = document.getElementById("myCheck");
            $.ajax({
                type: "POST",
                url: "/Siparisler/SiparisEkleGetCompanyAdress",
                data: { id: companyid },
                success: function(data) {
                    if (checkBox.checked == true) {
                        $('#OrderEdit_OrderAdres').html("");
                    }
                    else {
                        $('#OrderEdit_OrderAdres').html(data);
                    }
                }

            });


        })
    })
</script>


<script>
    function myFunction() {
        var checkBox = document.getElementById("myCheck");
        var companyid = $("#select2").val();
        if (checkBox.checked == true) {
            $('#OrderEdit_OrderAdres').html("");
        } else {
            $.ajax({
                type: "POST",
                url: "/Siparisler/SiparisEkleGetCompanyAdress",
                data: { id: companyid },
                success: function(data) {
                    $('#OrderEdit_OrderAdres').html(data);
                }

            });
        }
    }
</script>


<script type="text/javascript">
    $(function() {
        $("[id*=select2]").select2({
            theme: 'bootstrap4',
            dropdownParent: $("#SiparisEdit"),
            dropdownAutoWidth: true,
            width: 'auto',
        });
    });
</script>






<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function(form) {
                form.addEventListener('submit', function(event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>