@model StokTakipCoreV3.Models.ProductsAndStokView

<!--Ürün Stok Ekleme Modal -->
@using (Html.BeginForm("UrunStokEkle", "Urunler", FormMethod.Post, new { id = "stokekle", @class = "form-inline needs-validation novalidate", role = "form" }))
{

    <div class="modal note-modal-header text-left modal-lg" id="urunstokekle" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel1">Siparişe Ürün Ekle</h5>
                    <button type="button" class="close rounded-pill" data-bs-dismiss="modal"
                        aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body" id="frmEmp">
                    <!-- // Basic multiple Column Form section start -->
                    <section id="multiple-column-form">
                        <div class="row match-height">
                            <div class="col-12">
                                <div class="card">
                                    @*<div class="card-header">*@
                                    @*</div>*@
                                    <div class="card-content">
                                        <div class="card-body">
                                            <form class="form">
                                                <div class="row">
                                                    @Html.TextBoxFor(x => x.Products.ProductsID, new { type = "hidden" })
                                                    <div class="col-md-12 col-12">
                                                        <div class="form-group">
                                                            @Html.Label("Depo")
                                                            <select asp-for="Stores.StoresID" asp-items="@ViewBag.depolar" class="form-select" required>
                                                                <option selected disabled value=""></option>
                                                            </select>
                                                            <div class="valid-feedback">
                                                            </div>
                                                            <div class="invalid-feedback">
                                                                @Html.ValidationMessageFor(x => x.Stores.StoresID, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-12">
                                                        <div class="form-group">
                                                            @Html.Label("Ürün Seri No (Tekli/Toplu) Giriniz")
                                                               <textarea type="text" required asp-for="Stok.StokSn" class="form-control" rows="5"></textarea>
                                                               <div class="valid-feedback">
                                                            </div>
                                                            <div class="invalid-feedback">
                                                                @Html.ValidationMessageFor(x => x.Stok.StokSn, "", new { @class = "text-danger" })
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-12">
                                                        <div class="form-group">
                                                            @Html.Label("Qr/Barcode Tarama")
                                                            <div class="row">
                                                                <div id="qr-reader" style="width:500px"></div>
                                                                <div id="qr-reader-results"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <div class="col-12 d-flex justify-content-between">
                        <button type="submit" id="btnEdit" class="btn btn-primary me-1 mb-1">Ekle</button>
                        <button type="reset" class="btn btn-light-secondary me-1 mb-1">Temizle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        }


<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function(form) {
                form.addEventListener('submit', function(event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>