@using EntityLayer.Concrete
@model StokTakipCoreV3.Models.OrderListAndOrderAdd
<!--Yeni Siparis Oluşturma Modal -->
@using (Html.BeginForm("SiparisOlustur", "Siparisler", FormMethod.Post, new { id = "stokekle", @class = "form-inline needs-validation novalidate", role = "form" }))
{

    <div class="modal note-modal-header fade text-left modal-lg" id="SiparisEkle" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel1">Yeni Sipariş Oluştur</h5>
                    <button type="button" class="close rounded-pill" data-bs-dismiss="modal"
                        aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">

                    <!-- // Basic multiple Column Form section start -->
                    <section id="multiple-column-form">
                        <div class="row match-height">
                            <div class="col-12">
                                <div class="card">
                                    @*<div class="card-header">*@
                                    @*</div>*@
                                    <div class="card-content">
                                        <div class="card-body">
                                            <form class="form">
                                                <div class="row">
                                                    <div class="col-md-12 col-12">
                                                        <div class="form-group">
                                                            @Html.LabelFor(x=>x.Order.CompanyID)
                                                        </div>

                                                        <select asp-for="Order.CompanyID" asp-items="@ViewBag.firmalist" id="select2" class="form-select" required>
                                                            <option selected disabled value=""></option>
                                                        </select>
                                                        <div class="valid-feedback">
                                                        </div>
                                                        <div class="invalid-feedback">
                                                            @Html.ValidationMessageFor(x => x.Order.CompanyID, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-12">
                                                        <div class="form-group">
                                                            @Html.LabelFor(x=>x.Order.OrderAdres)
                                                            <br>
                                                            <label for="myCheck">Başka Bir Adrese Gidecek:</label>
                                                            <input type="checkbox" id="myCheck" onclick="myFunction()">


                                                            <textarea type="text" required asp-for="Order.OrderAdres" class="form-control" rows="5"></textarea>
                                                            <div class="valid-feedback">
                                                            </div>
                                                            <div class="invalid-feedback">
                                                                @Html.ValidationMessageFor(x => x.Order.OrderAdres, "", new { @class = "text-danger" })
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group">
                                                            @Html.LabelFor(x=>x.Order.OrderTarih)
                                                            <input type="date" required asp-for="Order.OrderTarih" class="form-control">
                                                            <div class="valid-feedback">
                                                            </div>
                                                            <div class="invalid-feedback">
                                                                @Html.ValidationMessageFor(x => x.Order.OrderTarih, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group">
                                                            @Html.Label("Satış Nedeni")
                                                            <select asp-for="Order.OrderNedeni" asp-items="@ViewBag.nedenler" class="form-select" required>
                                                                <option selected disabled value=""></option>
                                                            </select>
                                                            <div class="valid-feedback">
                                                            </div>
                                                            <div class="invalid-feedback">
                                                                @Html.ValidationMessageFor(x => x.Order.OrderNedeni, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12 col-12">
                                                        <div class="form-group">
                                                            @Html.Label("Sipariş Notları") @Html.ValidationMessageFor(x => x.Order.OrderNot, "", new { @class = "text-danger" })
                                                            @Html.TextAreaFor(x => x.Order.OrderNot, new { @rows=5, @class = "form-control" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <div class="col-12 d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary me-1 mb-1">Ekle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}





<script type="text/javascript">
    $(function() {
        $('#select2').change(function() {
            var companyid = $("#select2").val();
            var checkBox = document.getElementById("myCheck");
            $.ajax({
                type: "POST",
                url: "/Siparisler/SiparisEkleGetCompanyAdress",
                data: { id: companyid },
                success: function(data) {
                    if (checkBox.checked == true) {
                        $('#Order_OrderAdres').html("");
                    }
                    else {
                        $('#Order_OrderAdres').html(data);
                    }
                }

            });


        })
    })
</script>
<script>
    function myFunction() {
        var checkBox = document.getElementById("myCheck");
        var companyid = $("#select2").val();
        if (checkBox.checked == true) {
            $('#Order_OrderAdres').html("");
        } else {
            $.ajax({
                type: "POST",
                url: "/Siparisler/SiparisEkleGetCompanyAdress",
                data: { id: companyid },
                success: function(data) {
                    $('#Order_OrderAdres').html(data);
                }

            });
        }
    }
</script>





<script type="text/javascript">
    $(function() {
        $("[id*=select2]").select2({
            theme: 'bootstrap4',
            dropdownParent: $("#SiparisEkle"),
            dropdownAutoWidth: true,
            width: 'auto',
        });
    });
</script>




<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function(form) {
                form.addEventListener('submit', function(event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>